/* Tema */
:root[data-theme="light"] {
	color-scheme: light;
	--text: black;
	--background: white;
}

:root[data-theme="dark"] {
	color-scheme: dark;
	--text: #DDDDDD;
	--background: #15202B;
}
body {
	color: var(--text);
	background: var(--background);
}

/* Div logo */
.logo {
	width: 100px;
	margin: 0 0 20px 0;
}

/* Div games */
.games .games-list {
	cursor: grab;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
}

.games .item {
	margin: 0 15px 0 0;
	max-width: 530px;
}

.games .item .card-content {
	height: 200px
}

.games p, h6 {
	margin-left: 5px;
}

/* Div card */
.card-image img {
	width: 300px;
	height: 250px;
}

.card-game {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: auto;
	text-align: left;
	font-family: sans-serif;
}