header {
    margin-top: 20px;
}

header h2 {
    margin: 0 0 20px 0;
}

header img {
    width: 100px;
}

.games .games-list {
    cursor: grab;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

.games .item {
    margin: 0 15px 0 0;
    max-width: 130px;
}

.games .item .card-content {
    height: 238px
}

.card-image img {
    height: 100px;
}
