/* Tema */
:root[data-theme="light"] {
	color-scheme: light;
	--text: black;
	--background: white;
}

:root[data-theme="dark"] {
	color-scheme: dark;
	--text: #DDDDDD;
	--background: #15202B;
}
body {
	color: var(--text);
	background: var(--background);
}

.preloader-wrapper {
	position: absolute;
	left: 50%;
	margin-top: 30px;
}

/* Div logo */
.logo {
	width: 100px;
  height: 60px;
  margin-right: 0.5rem;
}

/* Div games */
.games .games-list {
	cursor: grab;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
}

.games .item {
	margin: 0 15px 0 0;
	max-width: 530px;
}

.games .item .card-content {
	height: 200px
}

.games p, h6 {
	margin-left: 5px;
}

/* Div card */
.card-image img {
	width: 300px;
	height: 250px;
}

.card-game {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: auto;
	text-align: left;
	font-family: sans-serif;
}

#image-game {
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  transition: 0.3s;
}

#image-game:hover {
	opacity: 0.7;
}

/* Navbar */
.navbar {
  width: 100%;
	height: 65px;
  background-color: #DDDDDD;
}
.navbar a {
  float: left;
  padding: 3px;
  text-decoration: none;
  font-size: 17px;
}
.navbar-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.navbar-items {
	align-items: center;
	display: flex;
	flex: 1;
	min-width: 0;
}
.navbar-brand {
	align-items: center;
	display: flex;
	margin-right: 1rem;
	min-width: 0;
}
.brand-logo {
	flex: 0 0 auto;
	margin-right: 0.5rem;
}
.navbar-title {
	color: rgb(34, 26, 26);
	flex: 1 1 auto;
	overflow: hidden;
}
.navbar-items-right {
	flex: 0 0 auto;
  justify-content: flex-end;
}
.button-theme {
	position: relative;
	margin-right: 0.5rem;
}